/* dropdown */
li:hover .icon{
visibility: visible;
}
/* image slider zooming */

/* .img-zooming{
    transform: scale(1);
    background-size: cover;
    background-repeat: no-repeat;
}

#y1-main-slider .owl-nav{
    display: none;
}

#yl-main-slider .owl-dots{
    left:13%;
    top:50%;
    position :absolute;
    transform: translateY(-50%);
}

#yl-main-slider .owl-dots .owl-dots {
    width:20px;
    height:20px;
    cursor:pointer;
    position: relative;
    border-radius:100%;
    margin-bottom:10px;
    border:2px solid #eaeaea;
    transition: 0.3s all ease-in-out;
}
#yl-main-slider .owl-dots .owl-dots:before{
    top:3px;
    left:3px;
    width:9px;
    height: 9px;
    content:"";
    position:absolute;
    border-radius: 100%;
    background-color: #000;
    transition:0.3s all ease-in-out;
}
#yl-main-slider .owl-dots .owl-dots.active{
    border:2px solid #000;
}

#yl-main-slider .owl-dots .owl-dots.active:before{
    background-color: #FFAA0C;
}

#yl-main-slider .owl-item.active .img-zooming{
transform: scale(1.15);
transition: all 700ms linear;
} */
